@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Grant Chirpus Coffee Shop!</h1>
<h6>Pay no attention to the ducks...</h6>


<p><a href="\Home\UserRegistration" class="btn btn-primary' btn-lg"> Register as a new user!</a></p>
